<div='container'>
<form class="new-note" action="/notes" method="post">
Title: <input type="text" name="title"></br></br>
Text: <textarea name="content" rows="5" cols="22"></textarea><br></br>
<input type="submit" value="Create Todo">
</form>
